<h2 class="heading">Techolution Assignment</h2>


  
  <table class="mt-5 ml-5">
      
    <tr>
      <th>Student Name</th>
      <th>Roll Number</th>
      <th>Total Marks</th>
      <th>Status</th>
    </tr>

    <tr *ngFor="let result of res | sort:{ property: 'name', descending: false }">
      <td>{{ result.name | titlecase }}</td>
      <td>{{result.rollNumber}}</td>
      <td>{{result.marks.Maths + result.marks.English + result.marks.Science}}</td>
      <td>{{result.marks.Maths + result.marks.English + result.marks.Science}}</td>
    </tr>
   
 
  </table>


  <div class="jumbotron mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>School Admission Form</h3>
                <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" maxlength="20" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" maxlength="20" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Class</label>
                        <input type="text" formControlName="class" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.class.errors }" />
                        <div *ngIf="submitted && f.class.errors" class="invalid-feedback">
                            <div *ngIf="f.class.errors.required">Class is required</div>
                            <div *ngIf="f.class.errors.class">Class must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Year of passing</label>
                        <input type="date" formControlName="year" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year.errors }" />
                        <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                            <div *ngIf="f.year.errors.required">Year is required</div>
                            <div *ngIf="f.year.errors.minlength">Year must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Percentage of marks </label>
                        <input type="number" formControlName="percentage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.percentage.errors }" />
                        <div *ngIf="submitted && f.percentage.errors" class="invalid-feedback">
                            <div *ngIf="f.percentage.errors.required">Percentage of marks is required</div>
                            <div *ngIf="f.percentage.errors.minlength">Year must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>